body {
    padding-top: 50px;
}

.content {
    padding: 40px 15px;
    text-align: center;
}

.btn-actions {
    padding-top: 50px;
}

.btn-actions .btn {
    margin-left: 10px;
    margin-right: 10px;
}

.center {
    text-align: center;
}
