{% from "pagination.html" import render_pagination %}

{% extends "base.html" %}
{% block navbar_active %}
    <li><a href="/upload">Upload</a></li>
    <li><a href="/collections">Collections</a></li>
    <li class="active"><a href="/tweets">Tweets</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/contact">Contact</a></li>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="content">
            <h1>Tweets</h1>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Text</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th>{{ tweet.id }}</th>
                    <th>{{ tweet.text }}</th>
                </tr>
                </tbody>
            </table>

            {{ render_pagination(tweets, 'tweets') }}
        </div>
    </div>
{% endblock %}
